<div class="col col-md-4">
<div  class="input-group frm-otp animate-show-hide well" >
    <form class="form" ng-show="$ctrl.showLogin">
        <p>Login with your account</p>
        <input class="form-control" placeholder="Username" type="text" ng-model="$ctrl.username" name="username" value="">
        <input class="form-control" placeholder="Password" type="password" name="password" value="" ng-model="$ctrl.password">
        <div class="input-group-btn">
            <button type="submit"  class="btn btn-default" ng-click="$ctrl.login($event)">Login</button>
            <button class="btn btn-default" ng-click="$ctrl.showLogin = false; event.preventDefault();">Register</button>
        </div>
        <hr />
        <div class="input-group-btn">
            <!--<img src="../images/sign-in-with-twitter-gray.png" />-->
        </div>
        <!--<div class="g-signin2" data-onsuccess="onSignIn"></div>-->
        <!-- HTML for render Google Sign-In button -->
        <div id="gSignIn"></div>
        <!-- HTML for displaying user details -->
        <div class="userContent"></div>
        <!--<span id="googleSignIn">-->
            <!--<span id="signInButton"> </span>-->
        <!--</span>-->
    </form>
    <form class="form"  ng-show="!$ctrl.showLogin">
        <p>Register new user</p>
        <input class="form-control" placeholder="FirstName" type="text" ng-model="$ctrl.user.lgFirstName" name="name" value="">
        <input class="form-control" placeholder="LastName" type="text" ng-model="$ctrl.user.lgLastName" name="lastname" value="">
        <input class="form-control" placeholder="Username" type="text" ng-model="$ctrl.user.lgUsername" name="username" value="">
        <input class="form-control" placeholder="Password" type="password" name="password" value="" ng-model="$ctrl.user.lgPassword">
        <input class="form-control" placeholder="E-mail" type="text" name="email" value="" ng-model="$ctrl.user.lgEmail">
        <div class="input-group-btn">
            <button type="submit"  class="btn btn-default" ng-click="$ctrl.register($event)">Register</button>
            <button class="btn btn-default" ng-click="$ctrl.showLogin = true; return;">Cancel</button>
        </div>
    </form>
</div>
</div>
<div class="col col-md-8">
        <div class="header"><h2>Keep your tokens in one place</h2></div>
        <div class="container container-fluid">
            <p>Cloud based otp wallet for your tokens.</p>
            <p>Forget loosing your multifactor authentication keys!</p>
        </div>
</div>
